
.bar-orange{
  background:#ff7e00;
}

/*.bar-title{*/
  /*text-align: center;*/
/*}*/

.main-logo{
  width:135px;
}


/*.home-screen img{*/
  /*width: 100%;*/
  /*display: block;*/
/*}*/

/*.home-screen img:nth-child(2){*/
 /*top:50%;*/
/*}*/

/*.center-logo{*/
  /*position: absolute;*/
  /*width: 125px!important;*/
  /*height: 150px!important;*/
  /*top: 40%;*/
  /*left: 33%!important;*/
  /*z-index: 2*/
/*}*/

/*div.home-desc{*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*background-color: rgba(0,0,0,0.3);*/
  /*height: 50%;*/
  /*width: 100%;*/
  /*padding-left: 27%;*/
  /*padding-top: 35%;*/
  /*letter-spacing: 2px;*/
/*}*/

/*div.home-desc h3{*/
  /*color:white;*/
  /*font-size:35px;*/
  /*font-family: 'whatEat' !important;*/
/*}*/

/*div.what-eat{*/
  /*top: 0px;*/
/*}*/


/*div.what-cook{*/
  /*top: 50%;*/
/*}*/

/*-----------------------------------------------------*/

body{
  background-color: black;
  padding: 0;
  margin: 0;
}

.center_logo img{
  width: 40%;
  height: 22%;
  margin: 0 auto;
  top: 40%;
  z-index: 1;
  left: 30%;
  position: absolute;
}

@font-face {
  font-family: "TypoGraphica";
  src: url("../fonts/TypoGraphica.ttf") format("opentype");
}

h1{
  color:white;
  position: absolute;
  letter-spacing: 2px;
}

.whateat img {
  height: 50% ;
  width: 100% ;
  display: table;
  opacity: 0.6;
  filter: alpha(opacity=50);
}

.whatcook img {
  height: 50% ;
  width: 100% ;
  display: table;
  border: 0;
  opacity: 0.6;
  filter: alpha(opacity=50);
}

.whateat{
background: black;
}

.whatcook{
  background: black;
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (max-device-height: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .container {
    max-height: 480px;
    max-width: 320px;
  }
  .whateat img {
    content:url(../img/whateat_back_iphone4.png) !important;
  }
  .whatcook img {
    content:url(../img/whatcook_back_iphone4.png) !important;
  }
  .center_logo img{
    width: 35% !important;
    left: 34% !important;
  }
  h1{
    font-size: 45px !important;
  }
  .whateat h1{
    top:20%;
    left:22%;
  }
  .whatcook h1{
    top:70%;
    left:17%;
  }
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .container {
    max-height: 568px;
    max-width: 320px;
  }
  h1{
    font-size: 40px !important;
  }
  .whateat h1{
    top:20%;
    left:20%;
  }
  .whatcook h1{
    top:70%;
    left:15%;
  }
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .container {
    max-height: 667px;
    max-width: 375px;
  }
  h1{
    font-size: 45px !important;
  }
  .whateat h1{
    top:20%;
    left:22%;
  }
  .whatcook h1{
    top:70%;
    left:17%;
  }
}

/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .container {
    max-height: 736px;
    max-width: 414px;
  }
  h1{
    font-size: 45px !important;
  }
  .whateat h1{
    top:20%;
    left:25%;
  }
  .whatcook h1{
    top:70%;
    left:20%;
  }
}

/* ----------- Galaxy S5 ----------- */
/* Portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  .container {
    max-width: 360px;
    max-height: 640px;
  }
  h1{
    font-size: 40px !important;
  }
  .whateat h1{
    top:20%;
    left:25%;
  }
  .whatcook h1{
    top:70%;
    left:20%;
  }
}

/* ----------- HTC SV ONE ----------- */
/* Portrait */
@media only screen
and (min-device-width: 480px)
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 1)
and (orientation: portrait) {
  .container {
    max-height: 800px;
    max-width: 480px;
  }
  .center_logo img{
    top: 42% !important;
  }
  h1{
    font-size: 40px !important;
  }
  .whateat h1{
    top:24%;
    left:31%;
  }
  .whatcook h1{
    top:75%;
    left:25%;
  }
}

/* ----------- HTC Sensation ----------- */
/* Portrait */
@media only screen
and (min-device-width: 540px)
and (max-device-width: 960px)
and (-webkit-min-device-pixel-ratio: 1)
and (orientation: portrait) {
  .container {
    max-height: 960px;
    max-width: 540px;
  }
  .center_logo img{
    top: 42% !important;
  }
  h1{
    font-size: 35pt !important;
  }
  .whateat h1{
    top:20%;
    left:20%;
  }
  .whatcook h1{
    top:70%;
    left:15%;
  }
}
