<ion-view title="Home">
  <ion-content has-bouncing="false" scroll="false" >

    <!--<img ng-src="{{vm.whatEatImg}}" alt="neyesem">-->
    <!--<img ng-src="{{vm.whatCookImg}}" alt="nepisirsem">-->
    <!--<img ng-src="{{vm.centerLogoImg}}" alt="logo" class="center-logo">-->
    <!--<div class="home-desc what-eat" ng-click="vm.whatEat()">-->
      <!--<h3>NE YESEM?</h3>-->
    <!--</div>-->
    <!--<div class="home-desc what-cook" ng-click="vm.whatCook()">-->
      <!--<h3>NE PİŞİRSEM?</h3>-->
    <!--</div>-->

    <div class="container">
      <div class="center_logo">
        <img src="img/center_logo.png">
      </div>
      <div class="whateat" ng-click="vm.whatEat()">
        <img src="img/whateat_back.png">
        <h1>ne yesem?</h1>
      </div>
      <div class="whatcook" ng-click="vm.whatCook()">
        <img src="img/whatcook_back.png">
        <h1>ne pişirsem?</h1>
      </div>
    </div>
  </ion-content>
</ion-view>
